---
import BaseLink from "@/components/BaseLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="About Me">
	<p class="mb-2">
		I'm Alif. I'm currently an 8th semester student at <BaseLink
			href="https://itb.ac.id/"
			text="Institut Teknologi Bandung"
		/> studying Informatics Engineering.
	</p>
	<p class="mb-2">
		Go to my <BaseLink href="https://github.com/alifyasa" text="GitHub" /> to
		see small projects that are not included in the <BaseLink
			href="/projects"
			text="Projects"
		/> page.
	</p>
	<p>
		Contact me through my <BaseLink
			href="https://www.linkedin.com/in/alifyasa"
			text="LinkedIn"
		/> or email at <BaseLink
			href="mailto:alif@alifyasa.id"
			text="alif@alifyasa.id"
		/>.
	</p>
</BaseLayout>
