---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Hi, I'm Alif Yasa" siteTitle="Home">
	<p>Interested in the web, interested in distributed systems, interested in cloud computing, and interested in automation.</p>
</BaseLayout>
