---
import BaseLink from "@/components/BaseLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Hi, I'm Alif Yasa" siteTitle="Home">
	<p class="mb-3.5">
		I'm an 8th semester student at <BaseLink
			href="https://itb.ac.id/"
			text="Institut Teknologi Bandung (ITB)"
		/> studying Informatics Engineering. I'm also a lab assistant at the Distributed
		Systems Lab at ITB.
	</p>
	<p class="mb-3.5">
		I'm currently working at <BaseLink
			href="https://socl.es/"
			text="Socles"
		/> as a Fullstack Developer Intern developing a mobile app using
		<BaseLink href="https://reactnative.dev/" text="React Native" /> with <BaseLink
			href="https://expo.dev"
			text="Expo"
		/> and backend using <BaseLink
			href="https://www.djangoproject.com/"
			text="Django"
		/> and <BaseLink href="https://firebase.google.com/" text="Firebase" />.
	</p>
	<p class="mb-3.5">
		Go to my <BaseLink href="https://github.com/alifyasa" text="GitHub" /> to
		see projects that are not included in the <BaseLink
			href="/projects"
			text="Projects"
		/> page.
	</p>
	<p>
		Contact me through my <BaseLink
			href="https://www.linkedin.com/in/alifyasa"
			text="LinkedIn"
		/> or email at <BaseLink
			href="mailto:alif@alifyasa.id"
			text="alif@alifyasa.id"
		/>.
	</p>
</BaseLayout>
