---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Alif Yasa">
	<p>Interested in the web, interested in distributed systems, interested in cloud computing, and interested in automation.</p>
</BaseLayout>
