---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="Projects">
	<div class="space-y-3.5">
		<section>
			<h1 class="text-2xl font-medium leading-loose">Git Faker</h1>
			<p>Simulate git history as a <i>non-homogenenous poisson process</i> and create a git repository based on the simulation result.</p>
		</section>
		<section>
			<h1 class="text-2xl font-medium leading-loose">Web Clipboard</h1>
			<p>Web-based service that acts like a clipboard. Write data using TCP, get a link to download data using HTTP.</p>
		</section>
	</div>
</BaseLayout>
