---
import Link from "./Link.astro";

interface Props {
    pageTitle?: string;
}
const { pageTitle }: Props = Astro.props;
const fullPath = "index"
    .concat(Astro.url.pathname)
    .split("/")
    .filter((path) => path !== "");

interface Breadcrumb {
    href: string;
    title: string;
}
const breadcrumbs: Breadcrumb[] = fullPath.map((path, index, fullArray) => {
    let href = "/".concat(fullArray.slice(1, index + 1).join("/"));
    let title = path;

    if (path === "index") {
        href = "/";
        title = "Home";
        return {
            href,
            title,
        };
    }

    if (index === fullArray.length - 1) {
        title = pageTitle || path;
        return {
            href,
            title,
        };
    }

    return {
        href,
        title,
    };
});
---

<div class="flex capitalize gap-2 mb-8">
    {
        breadcrumbs.map((path, index, fullArray) => (
            <div>
                    <Link href={path.href} openHere>
                        {path.title}
                    </Link>
                    {index !== fullArray.length - 1 && <span>{">"}</span>}
            </div>
        ))
    }
</div>
