<nav class="flex flex-grow">
    <ul class="flex flex-row flex-grow text-xl">
        <li class="flex mr-auto items-center">
            <a href="/">Home</a>
        </li>
        <li class="flex mr-7 items-center">
            <a href="/">Project</a>
        </li>
        <li class="flex items-center">
            <a href="/">About Me</a>
        </li>
    </ul>
</nav>