<div class="flex flex-col w-full">
    <div class="flex justify-end px-3.5 h-14">
        <div class="mr-auto">
            <a class="flex items-center h-full" href="/">Home</a>
        </div>
        <button class="my-auto" id="navbar-mobile-button">
            <img 
                id="navbar-mobile-icon-menu" 
                src="/icons/menu.svg" 
                class="size-7"
            />
            <img 
                id="navbar-mobile-icon-expand_less" 
                src="/icons/expand_less.svg" 
                class="size-7 hidden"
            />
        </button>
    </div>
    <ul
        id="navbar-mobile-dropdown"
        class="hidden flex-col text-lg bg-light-gray z-10 absolute top-14 w-full px-4 border-b border-deep-black shadow-sm"
    >
        <li class="flex h-14 border-b border-deep-black">
            <a class="flex items-center w-full" href="/projects">Projects</a>
        </li>
        <li class="flex h-14">
            <a class="flex items-center w-full" href="/about-me">About Me</a>
        </li>
    </ul>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const navbarButton = document.getElementById("navbar-mobile-button");
        const navbarIconExpandLess = document.getElementById("navbar-mobile-icon-expand_less");
        const navbarIconMenu = document.getElementById("navbar-mobile-icon-menu");
        const dropdown = document.getElementById("navbar-mobile-dropdown");
        let navbarExpanded = false;

        const toggleExpandNavbar = () => {
            if (navbarIconMenu && navbarIconExpandLess) {
                navbarExpanded = !navbarExpanded;
                if (navbarExpanded) {
                    dropdown?.classList.remove("hidden");
                    navbarIconMenu.classList.add("hidden");
                    navbarIconExpandLess.classList.remove("hidden");
                } else {
                    dropdown?.classList.add("hidden");
                    navbarIconMenu.classList.remove("hidden");
                    navbarIconExpandLess.classList.add("hidden");
                }
            }
        };

        navbarButton?.addEventListener("click", toggleExpandNavbar);
    });
</script>
