<nav class="flex flex-grow px-7 text-xl">
    <ul class="flex flex-row flex-grow">
        <li class="flex mr-auto items-center">
            <a
                href="/"
                class="font-semibold py-1 px-3 text-background bg-text hover:bg-gradient-to-r hover:from-primary hover:to-accent transition-all duration-3000"
                >ALIF YASA</a
            >
        </li>
        <li class="flex mr-7 items-center">
            <a href="/projects/" class="hover:underline">Projects</a>
        </li>
        <li class="flex items-center">
            <a href="/about-me/" class="hover:underline">About Me</a>
        </li>
    </ul>
</nav>
