---
import BaseTxtLayout from "../../layouts/BaseTxtLayout.astro"
---

<BaseTxtLayout>
    <header>
        <h1>TXT Directory</h1>
    </header>
    <section>
        <h2>Introduction</h2>
        <p>Barebones because this is meant for terminal use. Example using <code>lynx</code>:</p>
        <p><code>$ lynx https://alifyasa.id/txt</code></p>
    </section>
    <section>
        <h2 id="boards">Boards</h2>
        <article>
            <h3>Troubles</h3>
            <p>Issues I've faced and the solutions.</p>
        </article>
    </section>
</BaseTxtLayout>