---
import '@/styles/base.css'
import NavbarBase from "@/components/NavbarBase.astro"

interface Props {
  title: string;
  siteTitle?: string;
}

const { title, siteTitle } = Astro.props;
const displaySiteTitle = siteTitle ?? title;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Alif Yasa | { displaySiteTitle }</title>
  </head>
  <body class="font-rubik bg-background text-text">
    <header>
      <NavbarBase />
    </header>
    <main class="w-full relative md:w-3/5 md:mx-auto top-16 px-3.5 py-7 text-xl sm:px-7 sm:py-14 leading-relaxed">
      <article>
        <h1 class="text-5xl font-semibold pb-7">{title}</h1>
        <slot />
      </article>  
    </main>    
  </body>
</html>