---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alif Yasa</title>
	</head>
	<body class="font-sans max-w-3xl mx-auto p-8">
		<slot></slot>
	</body>
</html>