---
const { title } = Astro.props;
import NavbarBase from "../components/NavbarBase.astro"
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap" rel="stylesheet"> 
  </head>
  <body class="font-satoshi bg-light-gray text-deep-black">
    <header>
      <NavbarBase />
    </header>
    <main class="absolute top-14 p-7 pb-14 w-3/5 text-lg">
      <article>
        <h1 class="text-4xl font-medium pb-3.5">{title}</h1>
        <section>
          <slot />
        </section>
      </article>  
    </main>    
  </body>
</html>