---
import '../styles/base.css'
import NavbarBase from "../components/NavbarBase.astro"

const { title } = Astro.props;
const siteTitle = title === "Alif Yasa" ? "Home" : title
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @font-face {
        font-family: 'Satoshi';
        src: url('/fonts/satoshi/400/satoshi_400.ttf') format('ttf'), 
        url('/fonts/satoshi/400/satoshi_400.woff') format('woff'),
        url('/fonts/satoshi/400/satoshi_400.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
      }

      @font-face {
        font-family: 'Satoshi';
        src: url('/fonts/satoshi/500/satoshi_500.ttf') format('ttf'), 
        url('/fonts/satoshi/500/satoshi_500.woff') format('woff'),
        url('/fonts/satoshi/500/satoshi_500.woff2') format('woff2');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
      }
    </style>
    <title>Alif Yasa | { siteTitle }</title>
  </head>
  <body class="font-satoshi bg-light-gray text-deep-black">
    <header>
      <NavbarBase />
    </header>
    <main class="absolute top-14 px-3.5 py-7 sm:p-7 sm:pb-14 w-full md:w-4/5 text-xl">
      <article>
        <h1 class="text-4xl font-medium pb-3.5">{title}</h1>
        <section>
          <slot />
        </section>
      </article>  
    </main>    
  </body>
</html>