<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alif Yasa | TXT</title>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="/txt/">Home</a></li>
            </ul>
            <ul>
                <li><a href="/txt/#boards">Boards</a></li>
            </ul>
        </nav>
    </header>
    <slot></slot>
  </body>
</html>